.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #4e4e4e;
  overflow-x: hidden;
  overflow-y: auto;
  transition: 0.3s;
  z-index: 999;
}

.sidenav pre {color: #ffffff; background-color: var(--dark); padding: 10px;}
