body {
  background-color: var(--dark);
  color: #ffffff;
  font-family: 'Open Sans';
  overflow-x: hidden;
}

/****************************/
.playground {
  width: 100%;
  height: 80%;
}

.gutter {
  background-color: #4e4e4e;
  cursor: row-resize;
}

.playground>div {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.editor {
  height: 100%;
  width: 100%;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, .2);
  overflow: auto;
}

.react-codemirror2,
.CodeMirror {
  font-size: 16px;
  height: 100%;
  overflow-y: auto;
}

/*****************/
.table {
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, .2);
}

.table th,.table td {
  font-size: 12px;
}

.table th {
  text-transform: uppercase;
  letter-spacing: 2px;
  overflow: auto;
}

/***************************/
.sidebar {
  z-index: 9;
}

.alert-dark {
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 999;
  font-size: 14px;
  max-width: 550px;
  overflow: auto;
}

.alert-dark pre {
  background-color: var(--dark);
  color: var(--light);
  padding: 10px;
  border-radius: 7px;
  overflow: auto;
}

.list-group-item {
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
}

/***************************/
.btn {
  font-size: 12px;
  border-radius: 0;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, .2);
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*****************************/
.db-history {
  height: 100%;
  max-width: 80%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;    
  overflow: auto;
  background-color: #4e4e4e; padding: 10px;
  transition: all .5s;
}

.db-history pre {padding: 10px; background-color: var(--dark); color: #ffffff; }

.btn-open-history {
  position: fixed;
  right: 1px;
  bottom: 10px;
  z-index: 999;
}
/****************************/

.fs-12 {font-size: 12px;}
.border-black {border-top: 2px solid #3e444a;}
.ltsp2 {letter-spacing: 2px;}

input[type="file"] {display: none;}
/***************************/
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* scroll */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #4e4e4e;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--warning);
}

@media screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }
  .d-small-none {display: none;}
}

/*******************************/

.LeftStretch{
  animation: LeftStretch .8s ease-out;
  transform-origin: 100% 0%;
}

@keyframes LeftStretch {
  0% { transform: scaleX(0);	}	
 100% { transform: scaleX(1); }							
}
